# Pandas Cont.

## Loading CSV and Excel Spreadsheets
Pandas has a set of functions to handle IO operations:
 - pd.read_csv() - read in a csv file
 - df.to_csv() - save a dataframe out to a file
 - pd.read_excel() - read a msoft excel spreadsheet
 - pd.to_excel() - save a dataframe out to an excel spreadsheet

In [2]:
import pandas as pd
import numpy as np

from sklearn import datasets

# Get iris data from sklearn (we'll talk about sklearn in a later class), this is just for an example
iris = datasets.load_iris()
cols = iris.feature_names
cols.append('iris_type') #Want to get the column names for our df

# Create our dataframe from the iris dataset
df = pd.DataFrame(iris.data)
target_names = iris.target_names
df['iris_type'] = iris.target

# Need a means to convert the indexes into values
iris_name = lambda x: target_names[int(x['iris_type'])]
df['iris_name'] = df.apply(iris_name, axis=1)
df = df.drop('iris_type', axis=1) # Don't need the iris_type col anymore
df.columns = cols # Update the column names

"""There are a TON of options for the to_csv() method, typically defaults will be fine
    - I usually don't care to keep the indexes, but you may be working with data that the index is important
"""
df.to_csv('iris.csv', index=False) # If you check, you'll now have a csv file in your directory

In [6]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_type
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa
20,5.4,3.4,1.7,0.2,setosa
21,5.1,3.7,1.5,0.4,setosa
22,4.6,3.6,1.0,0.2,setosa
23,5.1,3.3,1.7,0.5,setosa
24,4.8,3.4,1.9,0.2,setosa
25,5.0,3.0,1.6,0.2,setosa
26,5.0,3.4,1.6,0.4,setosa
27,5.2,3.5,1.5,0.2,setosa
28,5.2,3.4,1.4,0.2,setosa
29,4.7,3.2,1.6,0.2,setosa
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica
121,5.6,2.8,4.9,2.0,virginica
122,7.7,2.8,6.7,2.0,virginica
123,6.3,2.7,4.9,1.8,virginica
124,6.7,3.3,5.7,2.1,virginica
125,7.2,3.2,6.0,1.8,virginica
126,6.2,2.8,4.8,1.8,virginica
127,6.1,3.0,4.9,1.8,virginica
128,6.4,2.8,5.6,2.1,virginica
129,7.2,3.0,5.8,1.6,virginica
130,7.4,2.8,6.1,1.9,virginica
131,7.9,3.8,6.4,2.0,virginica
132,6.4,2.8,5.6,2.2,virginica
133,6.3,2.8,5.1,1.5,virginica
134,6.1,2.6,5.6,1.4,virginica
135,7.7,3.0,6.1,2.3,virginica
136,6.3,3.4,5.6,2.4,virginica
137,6.4,3.1,5.5,1.8,virginica
138,6.0,3.0,4.8,1.8,virginica
139,6.9,3.1,5.4,2.1,virginica
140,6.7,3.1,5.6,2.4,virginica
141,6.9,3.1,5.1,2.3,virginica
142,5.8,2.7,5.1,1.9,virginica
143,6.8,3.2,5.9,2.3,virginica
144,6.7,3.3,5.7,2.5,virginica
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [7]:
# Loading in data!

# Like to_csv, read_csv has a fair number of parameters, but yet again defaults are usually pretty good
df = pd.read_csv('iris.csv')
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  iris_type
0    setosa
1    setosa
2    setosa
3    setosa
4    setosa

### In class work

In [14]:
#Problem 1
"""Recreate your iris.csv file with indexes=True and read in the data. What happended?
    What if you read in the data with headers = None?
"""

df.to_csv('iris2.csv', index = True)

df2 = pd.read_csv('iris2.csv')

df2.head()

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_type
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa

In [15]:
print(df2.head())

   Unnamed: 0  sepal length (cm)  sepal width (cm)  petal length (cm)  \
0           0                5.1               3.5                1.4
1           1                4.9               3.0                1.4
2           2                4.7               3.2                1.3
3           3                4.6               3.1                1.5
4           4                5.0               3.6                1.4

   petal width (cm) iris_type
0               0.2    setosa
1               0.2    setosa
2               0.2    setosa
3               0.2    setosa
4               0.2    setosa

In [18]:
df3 = pd.read_csv('iris2.csv',header =None, index_col = False)
df3

,0,1,2,3,4,5
0,NaN,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iris_type
1,0.0,5.1,3.5,1.4,0.2,setosa
2,1.0,4.9,3.0,1.4,0.2,setosa
3,2.0,4.7,3.2,1.3,0.2,setosa
4,3.0,4.6,3.1,1.5,0.2,setosa
5,4.0,5.0,3.6,1.4,0.2,setosa
6,5.0,5.4,3.9,1.7,0.4,setosa
7,6.0,4.6,3.4,1.4,0.3,setosa
8,7.0,5.0,3.4,1.5,0.2,setosa
9,8.0,4.4,2.9,1.4,0.2,setosa
10,9.0,4.9,3.1,1.5,0.1,setosa
11,10.0,5.4,3.7,1.5,0.2,setosa
12,11.0,4.8,3.4,1.6,0.2,setosa
13,12.0,4.8,3.0,1.4,0.1,setosa
14,13.0,4.3,3.0,1.1,0.1,setosa
15,14.0,5.8,4.0,1.2,0.2,setosa
16,15.0,5.7,4.4,1.5,0.4,setosa
17,16.0,5.4,3.9,1.3,0.4,setosa
18,17.0,5.1,3.5,1.4,0.3,setosa
19,18.0,5.7,3.8,1.7,0.3,setosa
20,19.0,5.1,3.8,1.5,0.3,setosa
21,20.0,5.4,3.4,1.7,0.2,setosa
22,21.0,5.1,3.7,1.5,0.4,setosa
23,22.0,4.6,3.6,1.0,0.2,setosa
24,23.0,5.1,3.3,1.7,0.5,setosa
25,24.0,4.8,3.4,1.9,0.2,setosa
26,25.0,5.0,3.0,1.6,0.2,setosa
27,26.0,5.0,3.4,1.6,0.4,setosa
28,27.0,5.2,3.5,1.5,0.2,setosa
29,28.0,5.2,3.4,1.4,0.2,setosa
...,...,...,...,...,...,...
121,120.0,6.9,3.2,5.7,2.3,virginica
122,121.0,5.6,2.8,4.9,2.0,virginica
123,122.0,7.7,2.8,6.7,2.0,virginica
124,123.0,6.3,2.7,4.9,1.8,virginica
125,124.0,6.7,3.3,5.7,2.1,virginica
126,125.0,7.2,3.2,6.0,1.8,virginica
127,126.0,6.2,2.8,4.8,1.8,virginica
128,127.0,6.1,3.0,4.9,1.8,virginica
129,128.0,6.4,2.8,5.6,2.1,virginica
130,129.0,7.2,3.0,5.8,1.6,virginica
131,130.0,7.4,2.8,6.1,1.9,virginica
132,131.0,7.9,3.8,6.4,2.0,virginica
133,132.0,6.4,2.8,5.6,2.2,virginica
134,133.0,6.3,2.8,5.1,1.5,virginica
135,134.0,6.1,2.6,5.6,1.4,virginica
136,135.0,7.7,3.0,6.1,2.3,virginica
137,136.0,6.3,3.4,5.6,2.4,virginica
138,137.0,6.4,3.1,5.5,1.8,virginica
139,138.0,6.0,3.0,4.8,1.8,virginica
140,139.0,6.9,3.1,5.4,2.1,virginica
141,140.0,6.7,3.1,5.6,2.4,virginica
142,141.0,6.9,3.1,5.1,2.3,virginica
143,142.0,5.8,2.7,5.1,1.9,virginica
144,143.0,6.8,3.2,5.9,2.3,virginica
145,144.0,6.7,3.3,5.7,2.5,virginica
146,145.0,6.7,3.0,5.2,2.3,virginica
147,146.0,6.3,2.5,5.0,1.9,virginica
148,147.0,6.5,3.0,5.2,2.0,virginica
149,148.0,6.2,3.4,5.4,2.3,virginica
150,149.0,5.9,3.0,5.1,1.8,virginica

## Dealing with Missing Data
Very commonly in analytics we'll run into a dataset that isn't complete (e.g. missing data for certain rows). Thus there are a number of things we need to be able to do to handle situations like this.

In [19]:
# Working with Series
s1 = pd.Series([1, np.nan, 23, np.nan, 3.2])
print("Data with NAN's:")
print(s1)
print("\nData without NAN's (dropna()):")
print(s1.dropna()) # We can drop any np.nan values simply by droping them
print("\nData without NAN's (filetering):")
print(s1[s1.notnull()]) # We could also just filter them out with indexing

Data with NAN's:
0     1.0
1     NaN
2    23.0
3     NaN
4     3.2
dtype: float64

Data without NAN's (dropna()):
0     1.0
2    23.0
4     3.2
dtype: float64

Data without NAN's (filetering):
0     1.0
2    23.0
4     3.2
dtype: float64

Very similar operations exist for dataframes

In [20]:
#Handling missing values in Pandas (DataFrame)

df = pd.DataFrame([[1,2,3], [1, np.nan, np.nan],
                [np.nan, np.nan, np.nan], [np.nan, 6, 3]])
print(df)

print("\nDataFrame with removed NAN's (dropna()):")
print(df.dropna()) # Leaves us with only entries without any NAN

print("\nDataFrame with all NAN's removed:")
print(df.dropna(how='all')) # only remove records where every value is nan

print("\nDataFrame with thresholded NAN's removed:")
print(df.dropna(thresh=2)) # only remove records where two or more  nans exist

     0    1    2
0  1.0  2.0  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.0  3.0

DataFrame with removed NAN's (dropna()):
     0    1    2
0  1.0  2.0  3.0

DataFrame with all NAN's removed:
     0    1    2
0  1.0  2.0  3.0
1  1.0  NaN  NaN
3  NaN  6.0  3.0

DataFrame with thresholded NAN's removed:
     0    1    2
0  1.0  2.0  3.0
3  NaN  6.0  3.0

## Filling Nans
Sometimes there might be a value that can logically be used to replace missing data. In this case we can fill in the nan values.

In [21]:
df = pd.DataFrame([[1,3.2,5], [1, np.nan, np.nan],
                [np.nan, np.nan, np.nan], [np.nan, 6, 3]])
print(df)

print("\nDataFrame filled with 0's:")
print(df.fillna(0)) # Here we simply fill an nan with 0

print("\nWe can also do column defualts:")
print(df.fillna({x:x for x in range(df.shape[0])})) # Fill in nans by column number

"""There are also a 'methods' parameter which defines a couple of methods for filing in data:
    - pad/ffill: takes the last known value and propogates it forward
    - backfill/bfill: takes the next known value and backfills the value
"""
print("\nDataFrame.fillna() ffill:")
print(df.fillna(method='ffill'))

     0    1    2
0  1.0  3.2  5.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.0  3.0

DataFrame filled with 0's:
     0    1    2
0  1.0  3.2  5.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.0  3.0

We can also do column defualts:
     0    1    2
0  1.0  3.2  5.0
1  1.0  1.0  2.0
2  0.0  1.0  2.0
3  0.0  6.0  3.0

DataFrame.fillna() ffill:
     0    1    2
0  1.0  3.2  5.0
1  1.0  3.2  5.0
2  1.0  3.2  5.0
3  1.0  6.0  3.0

### In class work

In [26]:
#Problem 1
"""Given the provided DataFrame, how does bfill affect the mean value compared to mean without NaN's?
"""
np.random.seed(10)
df = pd.DataFrame({'data': np.random.randn(100)})
nans = np.random.choice(range(df.shape[0]), size=int(df.shape[0]/6), replace=False)
df.iloc[nans] = np.nan

print(df[10:15])
print(2)[10:15])

        data
10  0.433026
11  1.203037
12       NaN
13  1.028274
14  0.228630
        data
10  0.433026
11  1.203037
12  1.028274
13  1.028274
14  0.228630

## Merging DataFrames
It is very common to end up with multiple dataframes at a given time. Typically some of these dataframes will be in the same domain, and you may want to join the data together. Merging dataframes can be very useful, but also tricky, due to the number of ways we can add data together.

**pd.merge(df1, df2)** - This enables us to merge dataframes similar to a database join (the combination of every value in df1 to every value in df2)

In [27]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

print("DataFrame1:")
print(df1)
print("\nDataFrame2:")
print(df2)

print("\nMerged DataFrames - equal layout")
# pd.merge enables us to do an inner merge on DataFrames on shared columns
print(pd.merge(df1, df2))

# If we also want to include elements not found in both df, we can also use 'outer'
print("\nDataFrames merged by outer join:")
print(pd.merge(df1, df2, how='outer')) #Should now see c and d keys

# This can result in odd behavior if there isn't a 1-to-1 alignment
df2 = pd.DataFrame({'key': ['a', 'b', 'b', 'd'], 'data2': range(4)})
print("\nMerged DataFrames:")
print(pd.merge(df1, df2, on='key'))

DataFrame1:
  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

DataFrame2:
  key  data2
0   a      0
1   b      1
2   d      2

Merged DataFrames - equal layout
  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

DataFrames merged by outer join:
  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

Merged DataFrames:
  key  data1  data2
0   b      0      1
1   b      0      2
2   b      1      1
3   b      1      2
4   b      6      1
5   b      6      2
6   a      2      0
7   a      4      0
8   a      5      0

In [28]:
df1 = pd.DataFrame({'key_set1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key_set2': ['a', 'b', 'd'], 'data2': range(3)})

# If we don't have any shared columns, problems can arise
#print(pd.merge(df1, df2)) #ERROR!

# Thus sometimes we will either need to rename columns, or define the alignment manually
print("\nMerged DataFrames defining the column to merge on:")
print(pd.merge(df1, df2, left_on='key_set1', right_on='key_set2'))

# We can also merge on multiple keys
df1 = pd.DataFrame({'key1_set1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'key2_set1': [1, 2, 1, 1, 2, 1, 2], 'data1': range(7)})
df2 = pd.DataFrame({'key1_set2': ['a', 'b', 'd'], 'key2_set2': [1, 2, 1], 
                    'data2': range(3)})

print("\nMerged DataFrames using multiple keys:")
print(pd.merge(df1, df2, left_on=['key1_set1', 'key2_set1'], right_on=['key1_set2', 'key2_set2']))

Merged DataFrames defining the column to merge on:
  key_set1  data1 key_set2  data2
0        b      0        b      1
1        b      1        b      1
2        b      6        b      1
3        a      2        a      0
4        a      4        a      0
5        a      5        a      0

Merged DataFrames using multiple keys:
  key1_set1  key2_set1  data1 key1_set2  key2_set2  data2
0         b          2      1         b          2      1
1         b          2      6         b          2      1
2         a          1      2         a          1      0
3         a          1      5         a          1      0

## Concatenating DataFrames
This is honestly a more typical use of merging dataframes. In this situation we have identical traits for our data (types/column names/rows) and we simply want to create a larger dataframe

In [29]:
# Sometimes you aren't trying to merge, but rather append, thus pd.concat
df1 = pd.DataFrame(np.arange(6).reshape(3,2), columns=['one', 'two'])
df2 = pd.DataFrame(np.random.randint(0, 10, 6).reshape(3,2), columns=['one', 'two'])

print("Simple Concatentation:")
print(pd.concat([df1, df2]))

df_con = pd.concat([df1, df2], axis=1, keys=['data1', 'data2']) # This enables us to keep track of the source
print("\nHierarchy of DataFrames:")
print(df_con)

print("\nAccessing a slice of a hierarchical DataFrame:")
print(df_con['data2'])

Simple Concatentation:
   one  two
0    0    1
1    2    3
2    4    5
0    0    4
1    6    3
2    5    9

Hierarchy of DataFrames:
  data1     data2
    one two   one two
0     0   1     0   4
1     2   3     6   3
2     4   5     5   9

Accessing a slice of a hierarchical DataFrame:
   one  two
0    0    4
1    6    3
2    5    9

In [30]:
# Sometimes you aren't trying to merge, but rather append, thus pd.concat
df1 = pd.DataFrame(np.arange(6).reshape(3,2), columns=['one', 'two'])
df2 = pd.DataFrame(np.random.randint(0, 10, 6).reshape(3,2), columns=['three', 'four'])

print("Column Concatenation:")
print(pd.concat([df1, df2], axis=1)) # Here we simply tag on the new cols at the end

Column Concatenation:
   one  two  three  four
0    0    1      3     8
1    2    3      3     0
2    4    5      9     6

## Grouping Data
Very typically when working with data, we'll want to know trends within subsets or subgroups of our data (similar to "Select * From tbl Group By expr").

The `df.groupby()` is what enables us to query the data in this manner.

In [32]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

print(df)

# We can group a dataframe based on keys/columns with the groupby() method
grouped = df['data1'].groupby(df['key1'])
print(grouped)
print(grouped) # This doesn't have a very nice print statement

# While a grouped object is a little unweildly on its own, it is quite useful
print("\nMean of our group:")
print(grouped.mean())

# We can group by a number of keys
grouped = df['data1'].groupby([df['key1'], df['key2']])
print("\nMean of our group2:")
print(grouped.mean()) # We see a similar hierarchy as we saw when merging datasets

# Note, list order for groupby matters
grouped = df['data1'].groupby([df['key2'], df['key1']])
print("\nMean of our group3:")
print(grouped.mean())

print("\nEasier view:")
print(grouped.mean().unstack())

  key1 key2     data1     data2
0    a  one  0.979461  1.320669
1    a  two -1.296720 -0.313880
2    b  one -0.550647  0.986491
3    b  two  1.123482  0.721011
4    a  one -0.494119 -0.531227
<pandas.core.groupby.groupby.SeriesGroupBy object at 0x1a1328eb38>
<pandas.core.groupby.groupby.SeriesGroupBy object at 0x1a1328eb38>

Mean of our group:
key1
a   -0.270459
b    0.286418
Name: data1, dtype: float64

Mean of our group2:
key1  key2
a     one     0.242671
      two    -1.296720
b     one    -0.550647
      two     1.123482
Name: data1, dtype: float64

Mean of our group3:
key2  key1
one   a       0.242671
      b      -0.550647
two   a      -1.296720
      b       1.123482
Name: data1, dtype: float64

Easier view:
key1         a         b
key2
one   0.242671 -0.550647
two  -1.296720  1.123482

In [33]:
#We don't always have to define the column we are interested in
print("\nMean on generic dataframe:")
print(df.groupby('key1').mean()) #Note: only numerics will be shown, since it's the mean

print("\nCounting elements in group:")
print(df.groupby('key1').count()) #Note: only numerics will be shown

Mean on generic dataframe:
         data1     data2
key1
a    -0.270459  0.158521
b     0.286418  0.853751

Counting elements in group:
      key2  data1  data2
key1
a        3      3      3
b        2      2      2

Iterating through the groups object is similar to iterating through a dict.items():
 - `name, group in df.groupby(cols):`

In [34]:
#Iterating through Groups

print("\nIterating through a group")
for name, group in df.groupby('key1'):
    print(name)
    print(group)

print("\n\nIterating with multiple keys:")
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)
    print()

Iterating through a group
a
  key1 key2     data1     data2
0    a  one  0.979461  1.320669
1    a  two -1.296720 -0.313880
4    a  one -0.494119 -0.531227
b
  key1 key2     data1     data2
2    b  one -0.550647  0.986491
3    b  two  1.123482  0.721011


Iterating with multiple keys:
('a', 'one')
  key1 key2     data1     data2
0    a  one  0.979461  1.320669
4    a  one -0.494119 -0.531227

('a', 'two')
  key1 key2    data1    data2
1    a  two -1.29672 -0.31388

('b', 'one')
  key1 key2     data1     data2
2    b  one -0.550647  0.986491

('b', 'two')
  key1 key2     data1     data2
3    b  two  1.123482  0.721011

## Aggregating Functions in DataFrames
When we group data, we are also provided the opportunity of providing aggregate functions to provide insights into the groups which can be implemented using the **agg()** method.

In [ ]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

print(df)
grouped = df.groupby('key1')
print("\n\nAggregating using multiple functions")
print(grouped['data1'].agg([np.sum, np.mean, np.std])) # Notice the agg function becomes the column name

print("\n\nUsing a dictionary to define aggregation:")
print(grouped.agg({'data1': 'sum', 'data2': np.mean}))